<div class="grid grid-cols-12 grid-rows-[6vh_minmax(150px,88vh)_6vh] bg-gray-200">
  <div class="col-start-5 col-end-9 row-start-2 row-end-3 bg-white flex shadow-lg flex-col px-8">
    <%= render 'form' %>
  </div>
</div>