<section class="">

    <h1>Budget Application</h1>
    <div class="btn-sign-in my-2">
         <%= link_to "LOG IN", new_user_session_path, class: "btn btn-primary w-100" %>
    </div>
    <div class="pb-5">
         <%= link_to "SIGN UP", new_user_registration_path %>
    </div>
</section>